{% extends 'base.html' %}

{% block content %}
<div class="main-section" style="margin-bottom: 50px; margin-top: 40px;">
    <div class="page-section nopadding cs-nomargin"
        style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="user-dashboard loader-holder" style="width: 450px; min-height:500px;">
                        <div class="user-holder" style="margin-top: 50px;">
                            <h4  class="text-center" style="margin-bottom: 20px">Forgot your password?</h4>
                            <p style="margin-bottom: 40px;" class="text-center">
                                Please enter your email address and we will send you a link to reset your password
                            </p>
                            <hr>
                            <div style="margin-top: 30px;">
                                <form action="{% url 'forgot_password'%}" style="margin-top: 30px;"
                                    class="form-fields-set foodbakery-dev-restaurant-form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <ul style="margin-top: 80px;"
                                        class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 40px;">
                                                            <div class="field-holder">
                                                                <b ><label style="margin-bottom: 20px;">Email Address</label></b>
                                                                <input type="email" name="email" placeholder="Enter your email address">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row" style="margin-top: 30px;">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder">
                                                            <input type="submit" value="Reset Password"
                                                                id="btn-next-restaurant-information" class="bgcolor">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                 <!-- load messages -->
                                                 {% include 'files/alerts.html' %}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}