* { margin: 0px; outline: none; padding: 0px; text-decoration: none; }
body { background: #ebedf3; color: #999; font-size: 14px; line-height: 24px; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.wrapper.wrapper-boxed .container { padding: 0 20px; }
.wrapper { position: relative; width: 100%; overflow: hidden; }
.wrapper.wrapper-boxed { margin: 0 auto 40px; max-width: 1250px; position: relative; background: #fff; -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.2); box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.2); }
video { max-width: 100%; height: auto; }
iframe, embed, object { max-width: 100%; }
/* Heading Typo */
h1, h2, h3, h4, h5, h6 { color: #2f313a; letter-spacing: 0; font-family: 'Montserrat', sans-serif; font-weight: 700; margin: 0 0 10px 0; }
h1 { font-size: 30px; line-height: 36px; }
h2 { font-size: 24px; line-height: 30px; }
h3 { font-size: 20px; line-height: 24px; }
h4 { font-size: 18px; line-height: 22px; }
h5 { font-size: 16px; line-height: 20px; }
h6 { font-size: 14px; line-height: 18px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #333; text-decoration: none; outline: none; }
/* Heading Typo End */
[class*="col-lg"], [class*="col-md"], [class*="col-sm"] { display: inline-block; float: none; margin: 0 -4px 0 0; vertical-align: top; }
a { text-decoration: none; color: #333; outline: none; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a:hover, a:focus { color: #000; outline: none; text-decoration: none; }
p { line-height: 24px; margin: 0 0 10px; }
figure { margin-bottom: 0; position: relative; }
/* Blockquote typo */
blockquote, q { quotes: none; }
blockquote { padding: 0 20px; border-left: 3px solid #ff0c00; color: #ff0c00; font-size: 17px; font-style: italic; font-weight: 600; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* Input Style */
select { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #999; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; width: 100%; border: 1px solid #e4e4e4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
textarea, input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #9097a1; font-size: 12px; height: 40px; line-height: 40px; padding: 0 15px; width: 100%; border: 1px solid #eceef4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
textarea { height: 175px; }
/* Field Holder Input Style */
.field-holder #ui-datepicker-div { top: 100% !important; left: 0 !important; }
.field-holder select { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #999; font-size: 14px; height: 36px; line-height: 36px; padding: 10px 15px; width: 100%; border: 1px solid #e4e4e4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.field-holder textarea, .field-holder input.field-input[type=date], .field-holder input[type=datetime], .field-holder input[type=datetime-local], .field-holder input[type=email], .field-holder input[type=month], .field-holder input[type=number], .field-holder input[type=password], .field-holder input[type=range], .field-holder input[type=search], .field-holder input[type=tel], .field-holder input[type=text], .field-holder input[type=time], .field-holder input[type=url], .field-holder input[type=week] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #9097a1; font-size: 12px; height: 40px; line-height: 40px; padding: 0 15px; width: 100%; border: 1px solid #eceef4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.field-holder textarea { height: 175px; }
/* Table typo style End */
/* Ul Ol Li typo */
li { line-height: 28px; list-style: disc inside none; }
ul ul { margin-left: 20px; }
ol { float: none; list-style: decimal; padding-left: 15px; }
ol ol { margin-left: 20px; }
ol li { list-style: decimal; width: 100%; }
ul ol { margin-bottom: 20px; }
ul ol ol { margin-bottom: 0; }
/* Ul Ol Li typo End */
p ins { color: #999; }
dl dd { margin-left: 20px; }
video { max-width: 100%; height: auto; width: 100%; }
embed, object, iframe { max-width: 100%; width: 100%; border: 0; display: block; }
.modal { overflow-y: auto; z-index: 10000; }
/* Sticky Header */
/* Responsive Menu */
.slicknav_menu { display: none; }
.main-section.page-margin { margin: 60px 0; }

/*Main Header*/
header#header { position: relative; z-index: 99; }
#header.fixed-header, #header.sticky-header { left: 0; position: fixed; top: 0; width: 100%; z-index: 999; }
.container .main-nav { display: inline-block; vertical-align: middle; margin-right: 30px; }
.container .main-nav .main-navigation { display: none; }
.container .main-nav .slicknav_menu { display: block; }
.main-header .wide { padding: 0 15px; }
.main-header .wide .main-nav { display: inline-block; vertical-align: middle; margin-right: 0; }
.main-header .wide .col-lg-8 { width: 75%; }
.main-header .wide .col-lg-4 { width: 25%; }
.main-header .main-navigation ul { margin: 0; padding: 0; text-align: right; }
.main-header .main-navigation > ul > li { display: inline-block; margin: 0 -4px 0 0; padding: 0; position: relative; }
.main-header .main-navigation > ul > li > a { font-size: 13px; color: #b6babf; line-height: 21px; font-weight: 700; text-transform: uppercase; position: relative; display: block; padding: 19px 16px; }
.main-header .main-navigation > ul > li ul { position: absolute; top: 100%; left: 0; width: 200px; text-align: left; z-index: 9; opacity: 0; visibility: hidden; -webkit-transform: translateY(20px); -moz-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.main-header .main-navigation > ul > li ul li { display: block; margin: 0; padding: 0; line-height: normal; position: relative; }
.main-header .main-navigation > ul > li ul li a { display: block; line-height: normal; padding: 10px 12px; text-transform: capitalize; }
.main-header .main-navigation > ul li:hover > ul { opacity: 1; visibility: visible; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.main-header .main-navigation > ul > li > ul > li ul { left: 100%; top: 0; }
/*Responsive Menu Style Start*/
.slicknav_menu { display: none; }
.slicknav_btn { display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 30px; height: 30px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 3px; border: none; cursor: pointer; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; transition: background 0.3s; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 4px; }
.slicknav_menu .slicknav_menutxt { display: none; float: left; color: #fff; font-weight: bold; line-height: 14px; border: none; margin-right: 6px; }
.slicknav_menu .slicknav_icon { display: block; position: absolute; top: 14px; left: 5px; right: 5px; height: 2px; background: white; }
.slicknav_menu .slicknav_icon:before, .slicknav_menu .slicknav_icon:after { position: absolute; display: block; left: 0; width: 100%; height: 2px; background-color: #fff; content: ""; }
.slicknav_menu .slicknav_icon:before { top: -6px; }
.slicknav_menu .slicknav_icon:after { bottom: -6px; }
.slicknav_btn { background-color: #ff3264; }
.slicknav_btn .slicknav_icon { -moz-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.slicknav_btn .slicknav_icon:before, .slicknav_btn .slicknav_icon:after { -webkit-transition-duration: 0.3s, 0.3s; -moz-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: .3s, 0s; -moz-transition-delay: .3s, 0s; transition-delay: .3s, 0s; }
.slicknav_btn .slicknav_icon:before { -webkit-transition-property: top, transform; -moz-transition-property: top, transform; -webkit-transition-property: top, -webkit-transform; transition-property: top, -webkit-transform; -moz-transition-property: top, transform, -moz-transform; transition-property: top, transform; transition-property: top, transform, -webkit-transform, -moz-transform; }
.slicknav_btn .slicknav_icon:after { -webkit-transition-property: bottom, transform; -moz-transition-property: bottom, transform; -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, -webkit-transform; -moz-transition-property: bottom, transform, -moz-transform; transition-property: bottom, transform; transition-property: bottom, transform, -webkit-transform, -moz-transform; }
/* active state, i.e. menu open Start*/
.transparent-header .wide .col-lg-8 { width: 45%; }
.transparent-header .wide .col-lg-4 { width: 55%; }
.main-header.transparent { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; position: relative; padding: 30px 0 0; }
.main-header.transparent .logo { margin-right: 50px; }
.main-header.transparent .main-location ul li:last-child { margin-right: 0; }
.main-header.transparent .main-location > ul > li > a { color: #333333; font-size: 14px; font-weight: 600; margin: 0 0 -5px; padding: 0 0 5px; }
.main-header.transparent .login-option a.login-popup { font-weight: 600; font-size: 14px; }
.main-header.transparent .login-option a.get-start-btn { margin: 0 0 0 50px; }
.main-header.transparent .main-location ul li ul li:last-child a { border-radius: inherit; }
.main-header.transparent .main-location ul { visibility: visible; opacity: 1; display: block; }
.main-header.transparent .main-location ul li ul { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; border-radius: 0; padding: 10px 10px 10px 20px; margin: 0; background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 200%; left: 0; width: 160px; z-index: 1; border: inherit; visibility: hidden; opacity: 0; }
.main-header.transparent .main-location ul li ul li .has-child { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; padding: 10px 10px 10px 20px; margin: 0; background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 108%; width: 160px; z-index: 1; border: inherit; border-radius: 3px; visibility: hidden; opacity: 0; border-top-left-radius: inherit; }
.main-header.transparent .main-location ul li ul li .has-child li a { color: #fff; }
.main-header.transparent .main-location ul li ul li { position: relative; }
.main-header.transparent .main-location ul li ul li:hover .has-child { opacity: 1; visibility: visible; }
.main-header.transparent .main-location ul li:hover ul { visibility: visible; opacity: 1; top: 130%; }
.main-header.transparent .main-location ul li ul li { margin-bottom: 8px; text-align: left; }
.main-header.transparent .main-location ul li ul li:last-child { margin: 0; }
.main-header.transparent .main-location ul li ul li a { display: inline-block; color: #fff; text-transform: capitalize; padding: 0; margin: 0; font-size: 12px; font-weight: normal; }
.main-header.transparent .main-location ul li ul li a i { margin-left: 15px; font-size: 16px; vertical-align: top; }
.main-header.transparent .main-location ul li ul li:hover a { background-color: transparent; }
.banner-sec { margin-top: -106px; }
.main-header .logo { display: inline-block; vertical-align: middle; margin-right: 30px; max-width: 200px; padding: 10px 0; }
.main-header { background: #fff; position: relative; background: none; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
.main-location { display: inline-block; vertical-align: middle; width: 300px; }
.main-location > ul { margin: 0; padding: 0; }
.main-location > ul > li { padding: 0; margin: 0 18px 0 0; list-style: none; display: inline-block; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; line-height: normal; position: relative; width: 100% }
.main-location ul li.cousine-notice { padding: 0 20px 12px 20px; color: #c33332; }
.main-location > ul > li > a { padding: 26px 21px 26px 0; margin: 0; list-style: none; display: block; font-size: 13px; color: #999; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; line-height: normal; font-weight: 700; position: relative; border-top-left-radius: 4px; border-top-right-radius: 4px; text-transform: uppercase; }
.main-location > ul > li.location-has-children > a:after { position: absolute; right: 0; top: auto; content: "\f0d7"; font-family: 'icomoon'; font-size: 9px; line-height: 18px; }
.main-location > ul > li > a > i { display: inline-block; vertical-align: bottom; margin-right: 12px; font-size: 16px; }
/*Sub Menu*/
.main-location > ul > li.location-has-children.menu-open { position: relative; z-index: 12; }
.main-location > ul > li.location-has-children.menu-open > a { z-index: 10; }
.main-location > ul > li.location-has-children.menu-open > a:after { display: none; }
.main-location > ul > li ul { position: absolute; left: -20px; top: 0; width: 229px; background: #fff; text-align: left; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; z-index: 1; opacity: 1; visibility: visible; margin: 0; padding: 67px 0 0; border-radius: 6px; border: solid 1px #dfe4e5; }
/*Transparent Header Style Start */
/*Main Location Scroll Bar Start*/
@media (min-width: 992px) {
.main-location > ul > li > ul { opacity: 0; visibility: hidden; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; display: none; }
.main-location > ul > li.menu-open > ul { opacity: 1; visibility: visible; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; display: block; z-index: 3; }
.main-location .close-menu-location { position: absolute; right: 14px; top: 28px; cursor: pointer; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.main-location .choose-location .foodbakery-radius-location { position: absolute; top: 11px; right: 15px; cursor: pointer; }

/*Inner Sub Menu*/
.main-location > ul > li > ul li { position: relative; }
.main-location > ul > li > ul li > span { background-color: #f1f1f1; border-radius: 15px; color: #999; font-size: 11px; line-height: 1.5; min-width: 30px; padding: 0px 5px; text-align: center; display: inline-block; right: 10px; top: 50%; position: absolute; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.main-location > ul > li > ul li.location-has-children > a { position: relative; }
/*Select Popup*/
.select-location .select-popup { background-color: #fff; border: 1px solid #e0e0e0; border-top: 0; display: none; left: 0; padding: 10px 10px 15px 15px; position: relative; top: 0; width: 100%; z-index: 99; margin-bottom: 10px; border-left: 0; border-right: 0; }
.select-location .select-popup.popup-open { display: block; text-align: left; }
.select-location .login-switch { display: inline-block; padding: 6px 10px 7px; text-align: center; vertical-align: top; }
.select-location .location-close-popup { position: absolute; right: 12px; top: 14px; cursor: pointer; }
.select-location p { color: #999; font-size: 14px; font-weight: 600; margin: 0 0 5px; }
.select-location p i { margin-right: 4px; display: inline-block; vertical-align: top; line-height: 19px; }
.main-search .select-location .select-popup span { position: static; float: right; margin: 0; font-weight: 600; }
.main-search .select-location .select-popup > span { margin-top: 4px; }
.select-location .select-popup p { font-weight: 600; }
.select-location .select-popup .location-close-popup { line-height: 19px; color: #c33332; }
/* pagination Style Start */
#footer { background: #282c35; }  
/* Widget style End */
.copy-right { display: block; padding: 26px 0 0; text-align: center; margin-bottom: 60px; }
.copy-right p { color: #9a9a9a; font-size: 12px; font-weight: 400; letter-spacing: 1px; margin-bottom: 15px; text-transform: uppercase; }
.copy-right p a { color: #c33332; font-size: 12px; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; display: inline-block; }
foodbakery ki style.css mein footer k style k baad add karwin isy #footer.footer-style-1 { background: #333333; color: #fff; }
#footer.footer-style-1 .widget-title h5 { color: #fff; padding-bottom: 17px; position: relative; }
#footer.footer-style-1 .widget-title h5:after { content: ''; display: block; background: #404040; height: 1px; width: 27px; background: #dc6d34; position: absolute; bottom: -1px; }
#footer.footer-style-1 .widget-title:after { content: ''; display: block; background: #404040; height: 1px; }
/*location classic style start*/
.location-holder.classic { border: 0; padding: 0; background: none; }
.location-holder.classic ul.location-list { background: #f2f2f2; padding: 30px; border-radius: 20px 0px 20px 0px; /*height: 231px;*/ }
.location-holder.classic ul.location-list li a { text-transform: uppercase; }
.location-holder.classic ul.location-list li span { font-weight: 600; color: #e51a1b; text-transform: uppercase; }
.location-holder.classic a.more-btn { background: none; color: #c33332; border: 1px solid #c33332; padding: 9px 40px; border-radius: 4px; text-transform: capitalize; }
/*location classic style start*/
.section-title.aligncenter h3 { font-size: 20px; color: #333333; font-weight: bold; font-family: 'Montserrat', sans-serif; }
.testimonial .img-holder { float: left; margin-right: 25px; width: 50px; }
.testimonial .img-holder img { width: 100%; border-radius: 50%; }
.testimonial .text-holder { overflow: hidden; }
.testimonial .text-holder p { font-size: 13px; color: #999; letter-spacing: 1px; font-weight: 400; font-family: 'Open Sans', sans-serif; }
.testimonial .text-holder .author-detail .auther-name span { font-size: 14px; color: #333333; font-weight: 400; font-family: 'Montserrat', sans-serif; }
.main-post .img-frame { text-align: right; display: inline-block; vertical-align: middle; width: 39%; margin-right: 55px; }
.main-post .column-text { display: inline-block; vertical-align: middle; width: 55%; }
.main-post .column-text h3 { font-size: 20px; color: #333333; font-weight: bold; font-family: 'Montserrat', sans-serif; margin-bottom: 5px; letter-spacing: 0; }
.main-post .column-text .app-btn { display: inline-block; margin-bottom: 25px; padding-right: 10px; }
.main-post .column-text .app-btn img { border-radius: 6px; }
/*testimonial style end*/
.cs-button { font-weight: bold; }
.cs-button.btn-left { text-align: left; }
.cs-button.btn-right { text-align: right; }
.cs-button.btn-center { text-align: center; }
.custom-btn { text-align: center; }
.button_style .custom-btn { vertical-align: bottom; }
.button_style.center { text-align: center; }
.button_style.right { text-align: right; }
.custom-btn { padding: 0px 15px; display: inline-block; position: relative; }
.bypostauthor { overflow: hidden; }
#header.court .main-header { padding: 18px 50px 18px 0; }
#header.court.pinned .main-header { padding: 10px 25px; }
#header.court .main-header .wide > .row { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; }
#header.court.transparent-header .main-header .main-nav { float: none; padding: 0 25px 0 0; }
#header.court .slicknav_menu { display: inline-block; vertical-align: middle; position: relative; }
#header.court .main-navigation { display: none; }
#header.court .slicknav_btn { border: 1px solid transparent; border-radius: 0; width: auto; min-width: 125px; height: 73px; }
#header.court.pinned .slicknav_btn { border-color: #fff; border-radius: 3px; height: 55px; }
#header.court .slicknav_btn .slicknav_icon { height: 3px; width: 38px; top: 50%; left: 50%; -webkit-transform: translateY(-50%) translateX(-50%); -moz-transform: translateY(-50%) translateX(-50%); -ms-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); }
#header.court .slicknav_btn .slicknav_icon:before { top: -9px; }
#header.court .slicknav_menu .slicknav_icon:after { bottom: -9px; }
#header.court .slicknav_btn.slicknav_open .slicknav_icon:before { top: 0; }
#header.court .slicknav_btn.slicknav_open .slicknav_icon:after { bottom: 0; }
#header.court .slicknav_menu .slicknav_icon:before, #header.court .slicknav_menu .slicknav_icon:after { height: 3px; }
#header.court.pinned .main-nav .slicknav_nav { margin-top: 25px; }
#header.court .main-header .login-option a.login-popup { font-size: 14px; color: #fff !important; font-weight: 600; display: inline-block; vertical-align: middle; margin-top: 0; }
#header.court .main-header .login-option a.get-start-btn { background-color: inherit !important; border-radius: 5px; border-color: #fff; font-size: 13px; padding: 12px 28px; display: inline-block; }
#header.court .main-nav .slicknav_nav { background-color: rgba(0, 0, 0, 0.6); padding: 12px; }
#header.court .main-nav .slicknav_nav a { border-width: 0 0 1px 0; border-color: rgba(255, 255, 255, 0.1); color: #fff; font-weight: 500; padding: 12px 0; margin: 0; }
#header.court .main-nav .slicknav_nav > li:last-child > a { border: 0; padding-bottom: 0; }
#header.court .main-nav .slicknav_nav > li:first-child > a { padding-top: 0; }
#header.court .main-nav .slicknav_nav ul li a { border-color: rgba(255, 255, 255, 0.055); padding: 10px; }
#header.court .main-nav .slicknav_nav ul { background-color: rgba(0, 0, 0, 0.2); }
#header.court .main-nav .slicknav_nav ul li:last-child a { border: 0; }
#header.court .main-header .logo { padding: 0; }
#header.court .main-header .login-option { margin-left: auto; }
/* Company Logo Hover Effect */
.company-logo.simple ul li figure a img { -webkit-transform: perspective(1px) translateZ(0); -moz-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); position: relative; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -moz-transition-property: transform, -moz-transform; transition-property: transform; transition-property: transform, -webkit-transform, -moz-transform; }
.company-logo.simple ul li figure a img:hover { -webkit-transform: translateY(-5px); -moz-transform: translateY(-5px); -ms-transform: translateY(-5px); transform: translateY(-5px); }
.main-section:after { display: block; content: ""; clear: both; }
textarea#comment_mes { display: none; }
.main-search .field-holder{margin: 0 0 5px !important;}
.main-search.fancy.bg-holder{padding: 5px 5px 0!important;}
    