* { margin: 0px; outline: none; padding: 0px; text-decoration: none; }
body { background: #ebedf3; color: #999; font-size: 14px; line-height: 24px; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.wrapper.wrapper-boxed .container { padding: 0 20px; }
.wrapper { position: relative; width: 100%; overflow: hidden; }
.wrapper.wrapper-boxed { margin: 0 auto 40px; max-width: 1250px; position: relative; background: #fff; -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.2); box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.2); }
video { max-width: 100%; height: auto; }
iframe, embed, object { max-width: 100%; }
/* Heading Typo */
h1, h2, h3, h4, h5, h6 { color: #2f313a; letter-spacing: 0; font-family: 'Montserrat', sans-serif; font-weight: 700; margin: 0 0 10px 0; }
h1 { font-size: 30px; line-height: 36px; }
h2 { font-size: 24px; line-height: 30px; }
h3 { font-size: 20px; line-height: 24px; }
h4 { font-size: 18px; line-height: 22px; }
h5 { font-size: 16px; line-height: 20px; }
h6 { font-size: 14px; line-height: 18px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #333; text-decoration: none; outline: none; }
/* Heading Typo End */
[class*="col-lg"], [class*="col-md"], [class*="col-sm"] { display: inline-block; float: none; margin: 0 -4px 0 0; vertical-align: top; }
a { text-decoration: none; color: #333; outline: none; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a:hover, a:focus { color: #000; outline: none; text-decoration: none; }
p { line-height: 24px; margin: 0 0 10px; }
figure { margin-bottom: 0; position: relative; }
/* Blockquote typo */
blockquote, q { quotes: none; }
blockquote { padding: 0 20px; border-left: 3px solid #ff0c00; color: #ff0c00; font-size: 17px; font-style: italic; font-weight: 600; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* Input Style */
select { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #999; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; width: 100%; border: 1px solid #e4e4e4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
textarea, input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #9097a1; font-size: 12px; height: 40px; line-height: 40px; padding: 0 15px; width: 100%; border: 1px solid #eceef4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
textarea { height: 175px; }
/* Field Holder Input Style */
.field-holder #ui-datepicker-div { top: 100% !important; left: 0 !important; }
.field-holder select { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #999; font-size: 14px; height: 36px; line-height: 36px; padding: 10px 15px; width: 100%; border: 1px solid #e4e4e4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.field-holder textarea, .field-holder input.field-input[type=date], .field-holder input[type=datetime], .field-holder input[type=datetime-local], .field-holder input[type=email], .field-holder input[type=month], .field-holder input[type=number], .field-holder input[type=password], .field-holder input[type=range], .field-holder input[type=search], .field-holder input[type=tel], .field-holder input[type=text], .field-holder input[type=time], .field-holder input[type=url], .field-holder input[type=week] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; box-sizing: border-box; color: #9097a1; font-size: 12px; height: 40px; line-height: 40px; padding: 0 15px; width: 100%; border: 1px solid #eceef4; font-family: 'Open Sans', sans-serif; font-weight: 400; }
.field-holder textarea { height: 175px; }
.main-search.fancy .field-holder .select-location input[type="text"]::-ms-clear, input[type="search"]::-ms-clear, input[type="text"]::-ms-clear { display: none; }
table { background-color: transparent; margin-bottom: 15px; width: 100%; border-collapse: collapse; border-spacing: 0; }
th { text-align: left; }
table > tbody + tbody { border-top: 2px solid #d2d2d2; }
table > thead > tr > th { border-bottom: 2px solid #d2d2d2; vertical-align: bottom; }
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td { border-top: 1px solid #d2d2d2; border: 1px solid #d2d2d2; line-height: 0.5; padding-left: 7px; vertical-align: top; text-align: center; padding: 12px 16px; }
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td { border-top: 1px solid #d2d2d2; }
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td { border-bottom: 0; }
.table td, .table th{vertical-align: middle !important;}
/* Table typo style End */
/* Ul Ol Li typo */
li { line-height: 28px; list-style: disc inside none; }
ul ul { margin-left: 20px; }
ol { float: none; list-style: decimal; padding-left: 15px; }
ol ol { margin-left: 20px; }
ol li { list-style: decimal; width: 100%; }
ul ol { margin-bottom: 20px; }
ul ol ol { margin-bottom: 0; }
/* Ul Ol Li typo End */
p ins { color: #999; }
dl dd { margin-left: 20px; }
video { max-width: 100%; height: auto; width: 100%; }
embed, object, iframe { max-width: 100%; width: 100%; border: 0; display: block; }
.modal { overflow-y: auto; z-index: 10000; }
/* Sticky Header */
/* Responsive Menu */
.slicknav_menu { display: none; }
.main-section.page-margin { margin: 60px 0; }

/*Main Header*/
header#header { position: relative; z-index: 99; }
#header.fixed-header, #header.sticky-header { left: 0; position: fixed; top: 0; width: 100%; z-index: 999; }
.container .main-nav { display: inline-block; vertical-align: middle; margin-right: 30px; }
.container .main-nav .main-navigation { display: none; }
.container .main-nav .slicknav_menu { display: block; }
.main-header .wide { padding: 0 15px; }
.main-header .wide .main-nav { display: inline-block; vertical-align: middle; margin-right: 0; }
.main-header .wide .col-lg-8 { width: 75%; }
.main-header .wide .col-lg-4 { width: 25%; }
.main-header .main-navigation ul { margin: 0; padding: 0; text-align: right; }
.main-header .main-navigation > ul > li { display: inline-block; margin: 0 -4px 0 0; padding: 0; position: relative; }
.main-header .main-navigation > ul > li > a { font-size: 13px; color: #b6babf; line-height: 21px; font-weight: 700; text-transform: uppercase; position: relative; display: block; padding: 19px 16px; }
.main-header .main-navigation > ul > li ul { position: absolute; top: 100%; left: 0; width: 200px; text-align: left; z-index: 9; opacity: 0; visibility: hidden; -webkit-transform: translateY(20px); -moz-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.main-header .main-navigation > ul > li ul li { display: block; margin: 0; padding: 0; line-height: normal; position: relative; }
.main-header .main-navigation > ul > li ul li a { display: block; line-height: normal; padding: 10px 12px; text-transform: capitalize; }
.main-header .main-navigation > ul li:hover > ul { opacity: 1; visibility: visible; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.main-header .main-navigation > ul > li > ul > li ul { left: 100%; top: 0; }
/*Responsive Menu Style Start*/
.slicknav_menu { display: none; }
.slicknav_btn { display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 30px; height: 30px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 3px; border: none; cursor: pointer; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; transition: background 0.3s; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 4px; }
.slicknav_menu .slicknav_menutxt { display: none; float: left; color: #fff; font-weight: bold; line-height: 14px; border: none; margin-right: 6px; }
.slicknav_menu .slicknav_icon { display: block; position: absolute; top: 14px; left: 5px; right: 5px; height: 2px; background: white; }
.slicknav_menu .slicknav_icon:before, .slicknav_menu .slicknav_icon:after { position: absolute; display: block; left: 0; width: 100%; height: 2px; background-color: #fff; content: ""; }
.slicknav_menu .slicknav_icon:before { top: -6px; }
.slicknav_menu .slicknav_icon:after { bottom: -6px; }
.slicknav_btn { background-color: #ff3264; }
.slicknav_btn .slicknav_icon { -moz-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.slicknav_btn .slicknav_icon:before, .slicknav_btn .slicknav_icon:after { -webkit-transition-duration: 0.3s, 0.3s; -moz-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: .3s, 0s; -moz-transition-delay: .3s, 0s; transition-delay: .3s, 0s; }
.slicknav_btn .slicknav_icon:before { -webkit-transition-property: top, transform; -moz-transition-property: top, transform; -webkit-transition-property: top, -webkit-transform; transition-property: top, -webkit-transform; -moz-transition-property: top, transform, -moz-transform; transition-property: top, transform; transition-property: top, transform, -webkit-transform, -moz-transform; }
.slicknav_btn .slicknav_icon:after { -webkit-transition-property: bottom, transform; -moz-transition-property: bottom, transform; -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, -webkit-transform; -moz-transition-property: bottom, transform, -moz-transform; transition-property: bottom, transform; transition-property: bottom, transform, -webkit-transform, -moz-transform; }
/* active state, i.e. menu open Start*/
.slicknav_btn.slicknav_open .slicknav_icon { background: none; }
.slicknav_btn.slicknav_open .slicknav_icon:before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.slicknav_btn.slicknav_open .slicknav_icon:after { bottom: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.slicknav_btn.slicknav_open .slicknav_icon:before, .slicknav_btn.slicknav_open .slicknav_icon:after { background: #fff !important; -webkit-transition-delay: 0s, 0.3s; -moz-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; }
/* active state, i.e. menu open End*/
.slicknav_menu .slicknav_no-text { margin: 0; }
.slicknav_menu .slicknav_icon-bar { display: none; width: 1.125em; height: 2px; font-size: 19px; background: #FFF; }
.slicknav_menu:before { content: " "; display: table; }
.slicknav_menu:after { content: " "; display: table; clear: both; }
.slicknav_nav { clear: both; max-height: -webkit-calc(100vh - 162px); max-height: -moz-calc(100vh - 162px); max-height: calc(100vh - 162px); }
.slicknav_nav ul { display: block; }
.slicknav_nav li { display: block; margin-bottom: 0px; }
.slicknav_nav .sub-dropdown li { margin-top: 4px !important; }
.slicknav_nav .slicknav_arrow { font-size: 16px; margin: 0 0 0 0.4em; float: right; line-height: 30px; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_item a { display: inline; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav .slicknav_parent-link a { display: inline; }
.slicknav_brand { float: left; }
.slicknav_menu * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.slicknav_nav { color: #fff; margin: 0; padding: 10px; font-size: 0.875em; list-style: none; overflow: hidden; text-align: left; position: absolute; top: 100%; background: #fff; z-index: 2; }
.slicknav_nav ul { list-style: none; padding: 0; margin: 0 0 0 0px; width: 100%; overflow: hidden; }
.slicknav_nav { height: auto; overflow: hidden; overflow-y: auto; width: 300px; }
.slicknav_nav .slicknav_row a { padding: 5px 10px; margin: 2px 5px; }
.slicknav_nav a { padding: 6px 10px; margin: 4px 0; text-decoration: none; color: #000; border: 1px solid rgba(225, 225, 225, 0.2); display: block; border-radius: 3px; font-size: 14px; font-weight: bold; }
.slicknav_nav a, .slicknav_nav a:focus, .slicknav_nav a:hover { outline: none; -webkit-box-shadow: none; box-shadow: none; text-decoration: none; }
.slicknav_nav .slicknav_txtnode { margin-left: 15px; }
.slicknav_nav .slicknav_item a { padding: 0; margin: 0; border: none; }
.slicknav_nav .slicknav_parent-link a { padding: 0; margin: 0; }
.slicknav_brand { color: #fff; font-size: 18px; line-height: 30px; padding: 7px 12px; height: 44px; }
a.slicknav_btn .slicknav_icon-bar { opacity: 1; visibility: visible; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a.slicknav_btn .slicknav_icon-bar:last-child { -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }
a.slicknav_btn .slicknav_icon-bar:first-child { -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }
a.slicknav_btn.slicknav_open .slicknav_icon-bar { opacity: 0; visibility: hidden; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a.slicknav_btn.slicknav_open .slicknav_icon-bar:last-child { position: absolute; bottom: 13px; left: 7px; opacity: 1; visibility: visible; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
a.slicknav_btn.slicknav_open .slicknav_icon-bar:first-child { position: absolute; top: 14px; right: 8px; visibility: visible; opacity: 1; width: 1.12em; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/*Responsive Menu Style End*/
.transparent-header .wide .col-lg-8 { width: 45%; }
.transparent-header .wide .col-lg-4 { width: 55%; }
.main-header.transparent { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; position: relative; padding: 30px 0 0; }
.main-header.transparent .logo { margin-right: 50px; }
.main-header.transparent .main-location ul li:last-child { margin-right: 0; }
.main-header.transparent .main-location > ul > li > a { color: #333333; font-size: 14px; font-weight: 600; margin: 0 0 -5px; padding: 0 0 5px; }
.main-header.transparent .login-option a.login-popup { font-weight: 600; font-size: 14px; }
.main-header.transparent .login-option a.get-start-btn { margin: 0 0 0 50px; }
.main-header.transparent .main-location ul li ul li:last-child a { border-radius: inherit; }
.main-header.transparent .main-location ul { visibility: visible; opacity: 1; display: block; }
.main-header.transparent .main-location ul li ul { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; border-radius: 0; padding: 10px 10px 10px 20px; margin: 0; background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 200%; left: 0; width: 160px; z-index: 1; border: inherit; visibility: hidden; opacity: 0; }
.main-header.transparent .main-location ul li ul li .has-child { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; padding: 10px 10px 10px 20px; margin: 0; background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 108%; width: 160px; z-index: 1; border: inherit; border-radius: 3px; visibility: hidden; opacity: 0; border-top-left-radius: inherit; }
.main-header.transparent .main-location ul li ul li .has-child li a { color: #fff; }
.main-header.transparent .main-location ul li ul li { position: relative; }
.main-header.transparent .main-location ul li ul li:hover .has-child { opacity: 1; visibility: visible; }
.main-header.transparent .main-location ul li:hover ul { visibility: visible; opacity: 1; top: 130%; }
.main-header.transparent .main-location ul li ul li { margin-bottom: 8px; text-align: left; }
.main-header.transparent .main-location ul li ul li:last-child { margin: 0; }
.main-header.transparent .main-location ul li ul li a { display: inline-block; color: #fff; text-transform: capitalize; padding: 0; margin: 0; font-size: 12px; font-weight: normal; }
.main-header.transparent .main-location ul li ul li a i { margin-left: 15px; font-size: 16px; vertical-align: top; }
.main-header.transparent .main-location ul li ul li:hover a { background-color: transparent; }
.banner-sec { margin-top: -106px; }
.main-header .logo { display: inline-block; vertical-align: middle; margin-right: 30px; max-width: 200px; padding: 10px 0; }
.main-header { background: #fff; position: relative; background: none; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
.main-location { display: inline-block; vertical-align: middle; width: 300px; }
.main-location > ul { margin: 0; padding: 0; }
.main-location > ul > li { padding: 0; margin: 0 18px 0 0; list-style: none; display: inline-block; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; line-height: normal; position: relative; width: 100% }
.main-location ul li.cousine-notice { padding: 0 20px 12px 20px; color: #c33332; }
.main-location > ul > li > a { padding: 26px 21px 26px 0; margin: 0; list-style: none; display: block; font-size: 13px; color: #999; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; line-height: normal; font-weight: 700; position: relative; border-top-left-radius: 4px; border-top-right-radius: 4px; text-transform: uppercase; }
.main-location > ul > li.location-has-children > a:after { position: absolute; right: 0; top: auto; content: "\f0d7"; font-family: 'icomoon'; font-size: 9px; line-height: 18px; }
.main-location > ul > li > a > i { display: inline-block; vertical-align: bottom; margin-right: 12px; font-size: 16px; }
/*Sub Menu*/
.main-location > ul > li.location-has-children.menu-open { position: relative; z-index: 12; }
.main-location > ul > li.location-has-children.menu-open > a { z-index: 10; }
.main-location > ul > li.location-has-children.menu-open > a:after { display: none; }
.main-location > ul > li ul { position: absolute; left: -20px; top: 0; width: 229px; background: #fff; text-align: left; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; z-index: 1; opacity: 1; visibility: visible; margin: 0; padding: 67px 0 0; border-radius: 6px; border: solid 1px #dfe4e5; }
/*Transparent Header Style Start */
/*Main Location Scroll Bar Start*/
@media (min-width: 992px) {
.main-location > ul > li > ul { opacity: 0; visibility: hidden; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; display: none; }
.main-location > ul > li.menu-open > ul { opacity: 1; visibility: visible; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; display: block; z-index: 3; }
.main-location .close-menu-location { position: absolute; right: 14px; top: 28px; cursor: pointer; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.main-location .choose-location .foodbakery-radius-location { position: absolute; top: 11px; right: 15px; cursor: pointer; }

/*Inner Sub Menu*/
.main-location > ul > li > ul li { position: relative; }
.main-location > ul > li > ul li > span { background-color: #f1f1f1; border-radius: 15px; color: #999; font-size: 11px; line-height: 1.5; min-width: 30px; padding: 0px 5px; text-align: center; display: inline-block; right: 10px; top: 50%; position: absolute; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.main-location > ul > li > ul li.location-has-children > a { position: relative; }
.main-location > ul > li > ul li.location-has-children > a:after { position: absolute; right: 15px; top: auto; content: "\e315"; font-family: 'icomoon'; font-size: 12px; line-height: 18px; }
.main-location > ul > li ul ul { left: 100%; top: -100%; padding: 0; -webkit-transform: translateY(10px); -moz-transform: translateY(10px); -ms-transform: translateY(10px); transform: translateY(10px); z-index: -1; opacity: 0; visibility: hidden; border-radius: 0; }
.main-location > ul > li.choose-location ul ul { border-radius: 0 0 6px 6px; border-top: none; left: -1px; opacity: 1; padding: 0; top: 100%; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); visibility: visible; }
.main-location > ul > li ul > li:hover > ul { opacity: 1; visibility: visible; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; z-index: 1; }
.main-location > ul > li ul > li > ul li:last-child > a { border-radius: 0; }
.main-location > ul > li > ul li { list-style: none; display: block; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; line-height: normal; position: relative; }
.main-location > ul > li > ul li.popular-location { padding: 10px 20px 0; }
.main-location > ul > li > ul li > a { padding: 12px 20px; margin: 0; list-style: none; display: block; font-size: 14px; color: #484848; text-shadow: none; -webkit-box-shadow: none; box-shadow: none; line-height: normal; font-weight: 700; position: relative; }
.main-location > ul > li > ul li > a img { width: 20px; display: inline-block; vertical-align: top; margin-right: 6px; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.main-location > ul > li > ul li:hover > a img { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
.main-location > ul > li > ul li > a > i { display: inline-block; vertical-align: middle; margin-right: 15px; }
.main-location > ul > li > ul li:hover > a { background: #f6f8ff; }
.main-location > ul > li > ul li:last-child > a { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.main-location > ul > li > ul li .foodbakery-input-cross { position: absolute; top: 12px; right: 15px; }
.main-location > ul > li > ul li .foodbakery-input-cross-header { font-size: 8px; right: 35px; top: 13px; cursor: pointer; }
.main-location > ul > li > ul li input[type=text] { padding-right: 47px; }
.main-location .select-location .input-filed { position: relative; }
.main-location .select-location .input-filed input { height: 35px; background: #f6f8ff; border: #dfe4e5 solid 1px; border-left: 0; border-right: 0; padding-right: 30px; }
.main-location .select-location .input-filed a { position: absolute; right: 13px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); border: none; padding: 0; background: none; margin: 0; height: auto; width: auto; line-height: 0; }
.location-overlay { height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 1; }
/*Sub Menu 2*/
.main-location > ul > li.choose-location > ul { border-radius: 6px 6px 0 0; padding-bottom: 0; }
.main-location > ul > li.choose-location h6 { margin: 0; padding: 12px 20px 5px; line-height: normal; font-weight: 700; color: #4a4a4a; }
.main-location > ul > li.choose-location > ul li.location-search > a { padding: 6px 20px 3px; font-weight: 700; }
/*Select Popup*/
.select-location .select-popup { background-color: #fff; border: 1px solid #e0e0e0; border-top: 0; display: none; left: 0; padding: 10px 10px 15px 15px; position: relative; top: 0; width: 100%; z-index: 99; margin-bottom: 10px; border-left: 0; border-right: 0; }
.select-location .select-popup.popup-open { display: block; text-align: left; }
.select-location .login-switch { display: inline-block; padding: 6px 10px 7px; text-align: center; vertical-align: top; }
.select-location .location-close-popup { position: absolute; right: 12px; top: 14px; cursor: pointer; }
.select-location p { color: #999; font-size: 14px; font-weight: 600; margin: 0 0 5px; }
.select-location p i { margin-right: 4px; display: inline-block; vertical-align: top; line-height: 19px; }
.main-search .select-location .select-popup span { position: static; float: right; margin: 0; font-weight: 600; }
.main-search .select-location .select-popup > span { margin-top: 4px; }
.select-location .select-popup p { font-weight: 600; }
.select-location .select-popup .location-close-popup { line-height: 19px; color: #c33332; }
.select-location .select-popup span span { position: relative; width: auto; bottom: 0; right: 0; }
.select-location .slider-track { background: #eaeaea none repeat scroll 0 0; border-radius: 20px; }
.select-location .slider-selection { background: #c33332; border-radius: 20px; }
.select-location .slider.slider-horizontal .slider-track { height: 11px; }
.select-location .select-popup span { color: #ccc; display: inline-block; font-size: 14px; padding: 0; }
.select-location .slider.slider-horizontal { width: 70%; margin-bottom: 10px; }
.select-location .slider-handle { background: url(static/images/ui-arrow.png) no-repeat; height: 26px; top: -4px; width: 25px; }
.select-location .select-popup { background-color: #fff; border: 1px solid #e0e0e0; display: none; left: 0; padding: 10px 10px 15px 15px; position: absolute; top: 56px; width: 100%; z-index: 10; }
.select-location .select-popup:before { border-bottom: 7px solid #e4e4e4; border-left: 7px solid rgba(0, 0, 0, 0); border-right: 7px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; margin: 0 -2px 0 0px; position: absolute; right: 16px; top: -7px; }
.select-location .select-popup:after { border-bottom: 6px solid #ffffff; border-left: 6px solid rgba(0, 0, 0, 0); border-right: 6px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; margin: 0 -1px 0 0px; position: absolute; right: 16px; top: -5px; }
.select-location .select-popup .my-location { line-height: 18px; }
.select-location .select-popup .my-location i { color: #c33332; vertical-align: middle; margin-left: 5px; margin-right: 0; }
.select-location .select-popup .my-location a { color: #c33332; margin-left: 8px; }
/* Header Popup Style */
/* pagination Style Start */
.pagination > li { display: inline-block; margin: 0px 5px 5px 0; }
.pagination > li > a, .pagination > li > span { font-size: 12px; color: #999ba3; margin-left: -1px; height: 26px; border: 1px solid #dddddd; background-color: transparent; padding: 0 10px; line-height: 23px; text-align: center; border-radius: 3px; font-weight: 400; display: block; }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus { background-color: #fff; border-color: transparent; color: #fff; z-index: 0; -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > .active > span > a { background-color: #fff; border-color: transparent; -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); }
.page-navigation.navigation ul li { margin-left: -4px; }
.pagination > li > a.prev { margin-right: 6px; padding: 0 6px; }
.pagination > li > a.prev i { display: inline-block; margin-right: 6px; }
.pagination > li > a.next { margin-left: 6px; padding: 0 6px; }
.pagination > li > a.next i { display: inline-block; margin-left: 6px; }
.pagination-sm .prev, .pagination-sm .next { padding: 0; border: 0; width: auto; }
.pagination > .active > span a, .pagination li span a { display: block; -webkit-box-shadow: none; box-shadow: none; }
/* pagination Style End */
/* resturant listing start */
.sub-header .text-holder { margin: 0 0 10px 0; }
.sub-header .text-holder h2 { color: #fff; margin: 0 0 10px 0; font: 700 28px/30px 'Montserrat', sans-serif; letter-spacing: 0; word-spacing: 1px; text-transform: none; }
.sub-header .text-holder p { color: #fff; margin: 0; font: 400 16px/22px 'Open Sans', sans-serif; letter-spacing: 0; word-spacing: 0; text-transform: none; }
/* resturant listing end */
/* swipper slider style */
.company-holder .company-logo { background-color: #fff; text-align: center; width: 163px; height: 153px; position: relative; margin: auto; }
.company-holder .company-logo figure { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
.company-holder .company-logo figure a { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: -moz-box; display: flex; height: 100%; }
.company-holder .company-logo figure a img { display: block; margin: auto; max-width: 100%; }
.company-holder .swiper-button-next, .company-holder .swiper-button-prev { position: absolute; top: -23%; right: 3px; left: auto; background-image: none; margin: 0; }
.company-holder .swiper-button-next i { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: absolute; top: 0; right: 14px; color: #c3c3c4; border-radius: 50%; border: 1px solid #c3c3c4; height: 30px; width: 30px; text-align: center; line-height: 29px; font-size: 12px; }
.company-holder .swiper-button-prev i { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: absolute; top: 0; right: 50px; color: #c3c3c4; border-radius: 50%; border: 1px solid #c3c3c4; height: 30px; width: 30px; text-align: center; line-height: 29px; font-size: 12px; }
.company-holder .swiper-button-next:hover i, .company-holder .swiper-button-prev:hover i { background-color: #fff; border-color: transparent; }
/*Company-holder grid_view Style Start */
.company-holder.grid-view .text-holder .list-option { display: inline-block; vertical-align: middle; margin-left: 4px; }
.company-holder.grid-view .company-logo { background: none; }
.company-holder.grid-view .text-holder { text-align: center; }
.company-holder.grid-view .text-holder .post-title h6 { margin-bottom: 0; }
.company-holder.grid-view figure { width: 91px; }
.company-holder.grid-view .rating-star .rating-box:before, .company-holder.grid-view .rating-star:before { font-size: 12px; }
.company-holder.grid-view span.reviews { font-size: 12px; color: #999ba3; }
#footer { background: #282c35; }  
/* Widget style End */
.copy-right { display: block; padding: 26px 0 0; text-align: center; margin-bottom: 60px; }
.copy-right p { color: #9a9a9a; font-size: 12px; font-weight: 400; letter-spacing: 1px; margin-bottom: 15px; text-transform: uppercase; }
.copy-right p a { color: #c33332; font-size: 12px; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; display: inline-block; }
foodbakery ki style.css mein footer k style k baad add karwin isy #footer.footer-style-1 { background: #333333; color: #fff; }
#footer.footer-style-1 .widget-title h5 { color: #fff; padding-bottom: 17px; position: relative; }
#footer.footer-style-1 .widget-title h5:after { content: ''; display: block; background: #404040; height: 1px; width: 27px; background: #dc6d34; position: absolute; bottom: -1px; }
#footer.footer-style-1 .widget-title:after { content: ''; display: block; background: #404040; height: 1px; }
/* Footer Social style Start */
#footer.footer-style-1 .copyright-sec .copyright-inner { border-top: 1px solid rgba(137, 137, 137, 0.2); padding: 30px 0 10px; }
.footer-style-1 .social-media { margin: 0 0 10px; }
.footer-style-1 .social-media li { display: inline-block; padding: 0; margin: 0 5px 10px 0; }
.footer-style-1 .social-media li a { background-color: #999; border-radius: 100%; display: inline-block; vertical-align: middle; height: 25px; line-height: 28px; text-align: center; width: 25px; }
.footer-style-1 .social-media li a:hover { color: #fff !important; }
#footer.footer-style-1 .footer-widget .social-media li a i { color: #333 !important; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#footer.footer-style-1 .footer-widget .social-media li a:hover i { color: #fff !important; }
.footer-style-1 .copy-right { display: inline-block; padding: 0; margin: 0 0 20px; }
.footer-style-1 .copy-right p { line-height: normal; margin: 0; }
.footer-style-1 .right-logos { float: right; }
.footer-style-1 .right-logos p { margin: 0; }
/* Footer Social style End */
/* Footer style End  */
/* begin style home page */

/*location classic style start*/
.location-holder.classic { border: 0; padding: 0; background: none; }
.location-holder.classic ul.location-list { background: #f2f2f2; padding: 30px; border-radius: 20px 0px 20px 0px; /*height: 231px;*/ }
.location-holder.classic ul.location-list li a { text-transform: uppercase; }
.location-holder.classic ul.location-list li span { font-weight: 600; color: #e51a1b; text-transform: uppercase; }
.location-holder.classic a.more-btn { background: none; color: #c33332; border: 1px solid #c33332; padding: 9px 40px; border-radius: 4px; text-transform: capitalize; }
.location-holder.classic .more-btn-holder { padding-top: 40px; }
.location-holder.classic [class*="col-lg"] { position: relative; }
.location-holder.classic [class*="col-lg"]:after { position: absolute; top: 0; right: 1px; width: 1px; height: 85%; background: #e7e7e7; content: ''; }
.location-holder.classic [class*="col-lg"]:nth-child(4):after, .location-holder.classic [class*="col-lg"]:nth-child(5):after { display: none; }
/*location classic style start*/
.section-title.aligncenter h3 { font-size: 20px; color: #333333; font-weight: bold; font-family: 'Montserrat', sans-serif; }
.testimonial .img-holder { float: left; margin-right: 25px; width: 50px; }
.testimonial .img-holder img { width: 100%; border-radius: 50%; }
.testimonial .text-holder { overflow: hidden; }
.testimonial .text-holder p { font-size: 13px; color: #999; letter-spacing: 1px; font-weight: 400; font-family: 'Open Sans', sans-serif; }
.testimonial .text-holder .author-detail .auther-name span { font-size: 14px; color: #333333; font-weight: 400; font-family: 'Montserrat', sans-serif; }
.main-post .img-frame { text-align: right; display: inline-block; vertical-align: middle; width: 39%; margin-right: 55px; }
.main-post .column-text { display: inline-block; vertical-align: middle; width: 55%; }
.main-post .column-text h3 { font-size: 20px; color: #333333; font-weight: bold; font-family: 'Montserrat', sans-serif; margin-bottom: 5px; letter-spacing: 0; }
.main-post .column-text .app-btn { display: inline-block; margin-bottom: 25px; padding-right: 10px; }
.main-post .column-text .app-btn img { border-radius: 6px; }
.main-post .column-text form .field-holder { width: 340px; position: relative; }
.main-post .column-text form .field-holder .field-input { color: #999999; font-size: 12px; height: 41px; border-color: #cccccc; padding-right: 120px; }
.main-post .column-text form .field-holder .field-label-btn { position: absolute; right: 1px; top: 1px; height: 41px; }
.main-post .column-text form .field-holder .field-btn { height: 39px; border: none; padding: 10px 20px; color: #fff; font-size: 12px; font-weight: 400; text-transform: uppercase; font-family: 'Montserrat', sans-serif; line-height: normal; }
.main-post.promo-box .column-text .promo-content { line-height: 24px; margin-bottom: 20px; }
/*testimonial style end*/
.cs-button { font-weight: bold; }
.cs-button.btn-left { text-align: left; }
.cs-button.btn-right { text-align: right; }
.cs-button.btn-center { text-align: center; }
.custom-btn { text-align: center; }
.button_style .custom-btn { vertical-align: bottom; }
.button_style.center { text-align: center; }
.button_style.right { text-align: right; }
.custom-btn { padding: 0px 15px; display: inline-block; position: relative; }
.custom-btn.button-icon-right i { float: right; line-height: 38px; margin-left: 10px; }
.custom-btn.button-icon-left i { margin-right: 10px; display: inline-block; vertical-align: middle; }
.custom-btn.no_circle { border-radius: 2px; }
.custom-btn.circle { border-radius: 50px; }
.custom-btn.large-btn { line-height: 44px; min-width: 150px; }
.custom-btn.medium-btn { line-height: 35px; min-width: 115px; }
.custom-btn.small-btn { line-height: 30px; min-width: 90px; }
.custom-btn.csborder-color { border: 1px solid; }
.custom-btn.medium-btn i { line-height: 33px; }
.custom-btn.small-btn i { font-size: 14px; line-height: 28px; }
.bypostauthor { overflow: hidden; }
/*Button Style*/
/*Register Form Style Start*/
.field-holder { position: relative; }
.signup-form .field-holder label, .signup-form .field-holder label { color: #484848; display: block; font-size: 12px; line-height: normal; margin: 0 0 10px; text-transform: uppercase; font-family: "Karla", sans-serif; }
.signup-form .field-holder input[type="text"], .signup-form .field-holder textarea, .invite-member .field-holder input[type="text"], .signup-form .field-holder input[type="password"], .signup-form .field-holder input[type="text"], .signup-form .field-holder input[type="password"], .newsletter .field-holder input[type="text"], .newsletter .field-holder textarea, .newsletter .field-holder input[type="password"] { background-color: #fff; border: 1px solid #f4f4f4; border-radius: 3px; color: #919191; font-size: 12px; height: 34px; margin: 0 0 15px; padding: 0 12px; }
.signup-form .field-holder input[type=email] { border: 1px solid #f4f4f4; border-radius: 3px; color: #919191; font-size: 12px; height: 34px; margin: 0 0 15px; padding: 0 12px; }
.signup-form .field-holder .chosen-container-single .chosen-search input[type="text"] { margin: 0; height: 28px; }
.signup-form .field-holder input[type="text"]::-webkit-input-placeholder, .signup-form .field-holder textarea::-webkit-input-placeholder { opacity: 1; }
.signup-form .field-holder input[type="text"]:-moz-placeholder, .signup-form .field-holder textarea:-moz-placeholder { opacity: 1; }
.signup-form .field-holder input[type="text"]::-moz-placeholder, .signup-form .field-holder textarea::-moz-placeholder { opacity: 1; }
.signup-form .field-holder input[type="text"]:-ms-input-placeholder, .user-holder .field-holder textarea:-ms-input-placeholder { opacity: 1; }
.signup-form .field-holder img { border: none; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; margin: 0; padding: 0; }
.signup-form .field-holder textarea { height: 102px; padding-top: 10px; }
.signup-form { width: 540px; margin: 0 auto 40px auto; background: #fff; padding: 15px 20px 20px; }
.signup-form.signup-with-orders { width: 100%; }
.signup-form .user-submit { background-color: #f97456; border: none; border-radius: 3px; color: #fff; font-size: 13px; font-weight: 700; line-height: normal; padding: 10px 15px; text-transform: uppercase; }
.signup-form .login-section { float: right; font-size: 13px; padding: 5px 0 0; text-transform: capitalize; }
.signup-form .login-section a { text-decoration: underline; color: #f97456; }
.signup-form .alert-warning { padding: 8px 15px; font-size: 13px; }
.signup-form > .triggered-box { opacity: 0; height: 0; }
.signup-form > .triggered-box.activate { opacity: 1; height: auto; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.element-title.has-icon .title-content { position: relative; display: inline-block; }
.element-title.has-icon .title-content .heading-holder { display: inline-block; vertical-align: middle; }
.element-title.has-icon .title-content i { font-size: 30px; display: inline-block; vertical-align: middle; }
.element-title.has-icon.left .heading-holder ~ i { padding-left: 20px; }
.element-title.right.has-icon { text-align: right; }
.element-title.top-center.has-icon { text-align: center; }
.element-title.top-center.has-icon i { margin-bottom: 15px; display: block; text-align: center; }
/*Court Header Style Start*/
#header.court .main-header { padding: 18px 50px 18px 0; }
#header.court.pinned .main-header { padding: 10px 25px; }
#header.court .main-header .wide > .row { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; }
#header.court.transparent-header .main-header .main-nav { float: none; padding: 0 25px 0 0; }
#header.court .slicknav_menu { display: inline-block; vertical-align: middle; position: relative; }
#header.court .main-navigation { display: none; }
#header.court .slicknav_btn { border: 1px solid transparent; border-radius: 0; width: auto; min-width: 125px; height: 73px; }
#header.court.pinned .slicknav_btn { border-color: #fff; border-radius: 3px; height: 55px; }
#header.court .slicknav_btn .slicknav_icon { height: 3px; width: 38px; top: 50%; left: 50%; -webkit-transform: translateY(-50%) translateX(-50%); -moz-transform: translateY(-50%) translateX(-50%); -ms-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); }
#header.court .slicknav_btn .slicknav_icon:before { top: -9px; }
#header.court .slicknav_menu .slicknav_icon:after { bottom: -9px; }
#header.court .slicknav_btn.slicknav_open .slicknav_icon:before { top: 0; }
#header.court .slicknav_btn.slicknav_open .slicknav_icon:after { bottom: 0; }
#header.court .slicknav_menu .slicknav_icon:before, #header.court .slicknav_menu .slicknav_icon:after { height: 3px; }
#header.court.pinned .main-nav .slicknav_nav { margin-top: 25px; }
#header.court .main-header .login-option a.login-popup { font-size: 14px; color: #fff !important; font-weight: 600; display: inline-block; vertical-align: middle; margin-top: 0; }
#header.court .main-header .login-option a.get-start-btn { background-color: inherit !important; border-radius: 5px; border-color: #fff; font-size: 13px; padding: 12px 28px; display: inline-block; }
#header.court .main-nav .slicknav_nav { background-color: rgba(0, 0, 0, 0.6); padding: 12px; }
#header.court .main-nav .slicknav_nav a { border-width: 0 0 1px 0; border-color: rgba(255, 255, 255, 0.1); color: #fff; font-weight: 500; padding: 12px 0; margin: 0; }
#header.court .main-nav .slicknav_nav > li:last-child > a { border: 0; padding-bottom: 0; }
#header.court .main-nav .slicknav_nav > li:first-child > a { padding-top: 0; }
#header.court .main-nav .slicknav_nav ul li a { border-color: rgba(255, 255, 255, 0.055); padding: 10px; }
#header.court .main-nav .slicknav_nav ul { background-color: rgba(0, 0, 0, 0.2); }
#header.court .main-nav .slicknav_nav ul li:last-child a { border: 0; }
#header.court .main-header .logo { padding: 0; }
#header.court .main-header .login-option { margin-left: auto; }
/* Company Logo Hover Effect */
.company-logo.simple ul li figure a img { -webkit-transform: perspective(1px) translateZ(0); -moz-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); position: relative; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -moz-transition-property: transform, -moz-transform; transition-property: transform; transition-property: transform, -webkit-transform, -moz-transform; }
.company-logo.simple ul li figure a img:hover { -webkit-transform: translateY(-5px); -moz-transform: translateY(-5px); -ms-transform: translateY(-5px); transform: translateY(-5px); }
.main-section:after { display: block; content: ""; clear: both; }
textarea#comment_mes { display: none; }
.main-search .field-holder{margin: 0 0 5px !important;}
.main-search.fancy.bg-holder{padding: 5px 5px 0!important;}

